---
import Readme from '../../README.mdx'
import '../global.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <title>React + TypeScript Feature-First Style Guide</title>
    <meta
      name='description'
      content='A feature-first React + TypeScript style guide for building scalable, maintainable, and predictable applications.'
    />
  </head>
  <body>
    <main class='max-w-3xl mx-auto py-10 px-6'>
      <article class='prose prose-lg mt-6'>
        <Readme />
      </article>
    </main>
  </body>
</html>
